/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$highlight-color: #bc3e3e;
$default-color: #fff;
$background-color: #19232b;


body {
	margin: 0;
	padding: 0;
}

#banner {
	width: 100%;

	margin: auto 0;
	padding: 15px;

	background-color: $highlight-color;
	text-align: center;
	font-family: 'League Gothic';
	font-size: 54px;
  	line-height: normal;
  	color: #fff;
  	text-transform: uppercase;
  	font-weight: normal;
}

#notice {
	color: #000 !important;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

#columns {
	background: $background-color;

	#main {
		margin-left: 17em;
		padding: 1em;
		background: white;
	}

	#side {
		float: left;
		padding: 1em 2em;
		width: 13em;
		background: $background-color;

		form, div {
			display: inline;
		}  

		input {
			font-size: small;
		}

		#cart {
			display: block;
			margin-top: 40px;
			font-size: smaller;
			color:     white;

			table {
				border-top:    1px solid $default-color;
				border-bottom: 1px solid $default-color;
				margin-bottom: 10px;
			}
		}

		ul {
			padding: 0;
			li {
				list-style: none;
				a {
					color: $default-color;
					text-decoration: none;
					font-family: 'League Gothic';
					font-size: 28px;
					line-height: normal;
					display: block;

					&:hover {
						color: $highlight-color;
						background-color: inherit;
					}
				}
			}
		}
	}
}

.depot_form {
	fieldset {
		background: #efe;

		legend {
			color: #dfd;
			background: #141;
			font-family: sans-serif;
			padding: 0.2em 1em;
		}
	}

	form {
		label {
			width: 5em;
			float: left;
			text-align: right;
			padding-top: 0.2em;
			margin-right: 0.1em;
			display: block;
		}

		select, textarea, input {
			margin-left: 0.5em;
		}

		.submit {
			margin-left: 4em;
		}

		br {
			display: none
		}
	}
}