// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.store {
	h1 {
		margin: 0;
		padding-bottom: 0.5em;
	}

	/* An entry in the store catalog */
	ul.products {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			float: left;
			overflow: hidden;

			margin: 10px;
			padding: 10px;

			width: 200px;
			height: 360px;
			min-height: 360px;

			margin-top: 1em;
			border: silver solid 1px;
			box-shadow: silver 3px 3px 10px;
			background: #fff;

			text-align: center;

			&:hover {
				box-shadow: silver 5px 5px 12px;

				h3 {
					color: black;
				}
			}

			h3 {
				font-size: 26px;
				line-height: normal;
				margin-top: 0;
				margin-bottom: 10px;
				color: $highlight-color;
			}

			img {
				width: 180px;
				max-height: 250px;
				overflow: hidden;
			}

			div.price_line {
				margin-top: 5px;
				.price {
					font-size: 16px;
					float: left;
					text-align: left;
				}

				form {
					float: right;
					text-align: right;
				}

				&:after {
					clear: both;
				}
			}
		}
	}
}